@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
body {
    margin: 0;

    font-family: "Roboto", "Arial", sans-serif;
}

.container {
    padding: 36px 30px 46px 37px;
}

.logo {
    display: block;
    width: 52px;
    margin-bottom: 45px;
}

.conditions {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.conditions-item {
    display: flex;
    align-items: center;
    margin-right: 14px;

    font-size: 10px;
}

.conditions-icon {
    width: 10px;
    height: 10px;
    margin-right: 4px;
}

.hw {
    width: 293px;
    font-size: 37px;
    margin: 0 0 11px;
    font-family: "Roboto Slab", sans-serif;
}

.pre {
    width: 212px;
    font-size: 10px;
    margin: 0;
}

.chel {
    display: block;
    width: 141px;
    margin-left: auto;
}

.otsa {
    width: 225px;
    margin-top: 38px;
}

.ye {
    font-size: 26px;
    margin-top: 75px;
    font-family: "Roboto Slab", sans-serif;
}

.gg {
    width: 308px;
    margin-top: 8px;
}

.otfa {
    width: 170px;
    margin-left: 50px;
}

.lessons {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    flex-wrap: wrap;
}

.yu {
    margin-right: 49px;
    margin-bottom: 52px;
}

.pid {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    flex-wrap: wrap;
}

.dl {
    margin-right: 33px;
    margin-top: 1px;
    margin-bottom: 34px;
}

.format {
    font-size: 26px;
    margin-top: 76px;
    margin-bottom: 16px;
    font-family: "Roboto Slab", sans-serif;
}

.ho {
    color: #1E4681;
    margin-top: 16px;
}

.otsada {
    margin-top: 1px;
}

.dos {
    margin-top: 10px;
    color: #1E4681;
}

.fdfd {
    margin-top: 1px;
}

.obsh {
    margin-top: 19px;
    color: #1E4681;
}

.question {
    margin-top: 1px;
}

.chto {
    font-size: 26px;
    margin-top: 73px;
    margin-bottom: 9px;
    font-family: "Roboto Slab", sans-serif;
}

.uznaem {
    margin-right: 32px;
}

.programma {
    font-size: 26px;
    margin-top: 85px;
}

.group1 {
    width: 185px;
    margin-top: 35px;
}

.group2 {
    width: 185px;
    margin-top: 24px;
}

.group3 {
    width: 185px;
    margin-top: 24px;
}

.group4 {
    width: 185px;
    margin-top: 24px;
}

.group5 {
    width: 185px;
    margin-top: 24px;
}

.group6 {
    width: 185px;
    margin-top: 24px;
}

.group7 {
    width: 185px;
    margin-top: 24px;
}

.group8 {
    width: 185px;
    margin-top: 24px;
}

.course_program {
    list-style: none;
}

.pod {
    margin-top: 15px;
}